<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @game.session_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @game.data %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
