<h1>Listing play_sessions</h1>

<table>
    <thead>
        <tr>
            Total to date: <%= @play_sessions.length %>
        </tr>
    <tr>
      <th>App ID</th>
      <th>User ID</th>
      <th>Version</th>
      <th>Closed On</th>
      <th>Length</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @play_sessions.each do |play_session| %>
      <tr>
        <td><%= play_session.app_id %></td>
        <td><%= play_session.user_id %></td>
        <td><%= play_session.version_id %></td>
        <td><%= play_session.closed_on %></td>
        <td><%= play_session.length %> sec</td>
        <td><%= link_to 'Show', play_session %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Play session', new_play_session_path %>
